<section id="booking-form" class="my-4">
  <div class="container mt-5">
    <div class="row">
      <!-- Seat Layout -->
      <div class="col-4">
        <div class="row">
          <div class="col-12 text-center">
            <h5>Bus Seats</h5>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4 text-center">
            <div class="seat reserved p-3 w-100"></div>
            Booked
          </div>
          <div class="col-4 text-center">
            <div class="seat available p-3 w-100"></div>
            Available
          </div>
          <div class="col-4 text-center">
            <div class="seat selected p-3 w-100"></div>
            Selection
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-3" *ngFor="let seatNo of seatArray; index as i">
            <div
              [ngClass]="{
                seat: true,
                reserved: checkIfSeatBooked(seatNo),
                selected: checkIsSeatSelected(seatNo) !== -1,
                available:
                  !checkIfSeatBooked(seatNo) &&
                  checkIsSeatSelected(seatNo) === -1
              }"
              (click)="!checkIfSeatBooked(seatNo) ? selectSeat(seatNo) : null"
            >
              {{ seatNo }}
            </div>
          </div>
        </div>
      </div>

      <!-- Passenger Details -->
      <div class="col-8">
        <h4>Passenger Details</h4>

        <div *ngIf="userSelectedSeatArray.length === 0; else passengerForm">
          <div class="row">
            <div class="col-12 pt-5 text-center">
              <p>Please Select Seats to Enter Passenger details</p>
            </div>
          </div>
        </div>

        <ng-template #passengerForm>
          <div
            class="row mb-2"
            *ngFor="let item of userSelectedSeatArray; index as i"
          >
            <div class="col-3">
              <label>Passenger</label>
              <input
                type="text"
                [(ngModel)]="item.passengerName"
                class="form-control"
              />
            </div>
            <div class="col-2">
              <label>Age</label>
              <input type="text" [(ngModel)]="item.age" class="form-control" />
            </div>
            <div class="col-2">
              <label>Gender</label>
              <select [(ngModel)]="item.gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Fe-Male">Fe-Male</option>
              </select>
            </div>
            <div class="col-2">
              <label>Seat No</label>
              <input
                disabled
                type="text"
                [(ngModel)]="item.seatNo"
                class="form-control"
              />
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 text-center">
        <button class="btn btn-danger" (click)="bookNow()">Book Now</button>
      </div>
    </div>
  </div>
</section>
